html, body, div#root, div#root>div {
  height: 100%;
  margin: 0;
}

div#root>div {
  display: flex;
  align-items: center;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.example {
  font-size: 14px;
  /* padding: 0 40px; */
  max-width: 1200px;
  width: 100%;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: row;
}


.myexample {
  font-size: 14px;
  /* padding: 0 40px; */
  max-width: 1200px;
  width: 100%;
  margin: auto;
  flex: 1;
}
